<script>
//Archivo central que importa los componentes
  import Bota from './Bota.svelte';
  import Cadena from './Cadena.svelte';
  import Clic from './Clic.svelte';
  import Arreglo from './Arreglo.svelte';
  import Dictamen from './Dictamen.svelte';
  let algo = "Marco";

    //Declaración de arreglo para el componente que exporta datos
  const junto = {
      prenda: "faldita",
      algo: "sexys",
      chido: "cogerlas duro"
  };
</script>

<style>
  h1{
  	color: red;
  	font-family: Helvetica;
  }
  p{
      color: green;
      font-family: 'Comic Sans MS', cursive;
	  font-size: 2em;
  }
</style>

<h1>Hola {algo}</h1>
<p>Bienvenido seas</p>
<Cadena />
<Bota />
<Clic />
<Arreglo />
<!--Componente asignandole los datos del arreglo-->
<Dictamen {...junto}/>