<script>
//Ejemplo de arreglos
	//Declaración de arreglo
	let numbers = [1, 2, 3, 4];

	//Función de agregar números
	function addNumber() {
		numbers = [...numbers, numbers.length + 1];
	}

    //Imprime en consola el arrelo
	$:console.log({numbers});

	//Sumatoria de números
	$: sum = numbers.reduce((t, n) => t + n, 0);
</script>

<!-- IMPRIME SUMA DE NÚMEROS-->
<p>{numbers.join(' + ')} = {sum}</p>

<!-- BOTON PARA AGREGAR NÚMEROS-->
<button on:click={addNumber}>
	Agregar un número
</button>