<script>
//Se importa el componente con varias variables
import Dictamen from './Dictamen.svelte';
import Cambio from './Cambio.svelte';

//Script para agregar imágenes al componente
  let src = 'https://res.cloudinary.com/twenty20/private_images/t_standard-fit/v1521838726/photosp/4f025c20-e394-4719-af9e-dd4ecd2f0e91/4f025c20-e394-4719-af9e-dd4ecd2f0e91.jpg';

//Se crea un arreglo con el mismo nombre de las variables a asignar
const pack={
    prenda: "blusas",
    algo: "ricas",
    chido: "correr con ellas"
};


</script>

<style>
    p{
        color: gray;
        font-size: 5 px;
    }
</style>

<img src={src} alt="Rifando en Svelte Framework" width="320 px" height="240 px">
<p>Imagen bien vergas</p>

<Cambio />

<!--Ejemplo de como usar el componente con varias variables a exportar-->
<Dictamen {...pack}/>