<script>
//Script para agregar HTML a los componentes mediante string
  let cadena = '<h2>Una app creada con<br> Svelte Framework';
</script>

<style>
  h1{
  	color: purple;
  	font-family: Arial;
  }
</style>

<p>{@html cadena}</p>