<script>
//Script que cambia las fotos con un boton
	let foto = { clicIn: false };
    //Declaración de fuente
    let src ="https://res.cloudinary.com/twenty20/private_images/t_standard-fit/v1521838915/photosp/e5c15aee-5158-4ea8-aa53-1e0d1916a778/e5c15aee-5158-4ea8-aa53-1e0d1916a778.jpg";

    function toggle() {
         foto.clicIn = !foto.clicIn;
         interca();
    }

    //Declaración de función que cambia las fotos
    function interca(){
        if (foto.clicIn==false) {
            src="https://res.cloudinary.com/twenty20/private_images/t_standard-fit/v1521838915/photosp/e5c15aee-5158-4ea8-aa53-1e0d1916a778/e5c15aee-5158-4ea8-aa53-1e0d1916a778.jpg";
        }
        else{
            src="https://res.cloudinary.com/twenty20/private_images/t_standard-fit/v1521838920/photosp/6d86ed0f-161b-4c2c-8e45-4fe2bb46e138/6d86ed0f-161b-4c2c-8e45-4fe2bb46e138.jpg";
        }
    }

    $:console.log({foto});
</script>

<h2>Cambiador de fotos</h2>
<!--If-else que realiza el cambio de fotos en HTML-->
{#if foto.clicIn}
<img src={src} alt="Imagen que cambia" width="320 px" height="240 px">
    <button on:click={toggle}>
        Cambiar foto
    </button>
{:else}
<img src={src} alt="Imagen que cambia" width="320 px" height="240 px">
    <button on:click={toggle}>
        Volver a cambiar
    </button>
{/if}