<script>
//Script para crear boton que registra clics
    let cuenta = 0;

    //Variable declarada con '$:'
    $: doble = cuenta*2;
    //Bloque para agregar funciones de consola o de JS juntas
    $: {
        console.log(`La cuenta va en ${cuenta}`);

        if (cuenta>1) {
        alert(`Haz hecho clic ${cuenta} veces`);
        }
    }//Fin del bloque

    const incrementaCuenta = () => {
        cuenta++
    }//Fin de la función

    //Script para limitar eventos
    $:{
        if (cuenta>5) {
            alert(`No puedes hacer más de 5 clics`);
            cuenta=4;
        }
    }//Fin del bloque limitador
</script>

<button on:click={incrementaCuenta}>Clic aqui {cuenta}</button>

<br>El doble de {cuenta} es {doble}

{#if cuenta==1}
 <p>Te quedan 4 clics</p>
 {:else if cuenta==2}
 <p>Te quedan 3 clicls</p>
 {:else if cuenta==3}
 <p>Te quedan 2 clics</p>
 {:else if cuenta==4}
 <p>Te queda 1 clic</p>
 {:else}
 <p></p>
 {/if}